<% if (showBack) {%>
  <button class="btn btn-primary btn-lg" id="btnBack" type="button">Back</button>
<% } %>

<% if (showRecall) {%>
  <button class="btn btn-primary btn-lg" id="Recall" type="button">Recall</button>
<% } %>

<% if (showSave) {%>
  <button class="btn btn-primary btn-lg" id="btnsave" type="button">Save</button>
<% } %>

<% if (showSendToApplicant) {%>
  <button class="btn btn-primary btn-lg" id="btnapplicant" type="button">Send to <%= applicantSendTo %></button>
<% } %>

<% if (showSendToApprover) {%>
  <button class="btn btn-primary btn-lg" id="btnapprover" type="button">Send to <%= approverSendTo %></button>
<% } %>

<% if (showApprove) {%>
  <button class="btn btn-primary btn-lg alltaskbtn" id="Approve" type="button">Approve</button>
<% } %>

<% if (showReject) {%>
  <button class="btn btn-primary btn-lg alltaskbtn" id="Reject" type="button">Reject</button>
<% } %>

<% if (showReturn) {%>
  <button class="btn btn-primary btn-lg alltaskbtn" id="Return" type="button">Return</button>
<% } %>
