<% if (showBack) {%>
  <button class="btn btn-primary" id="btnBack" type="button">Back</button>
<% } %>

<% if (showRecall) {%>
  <button class="btn btn-primary" id="Recall" type="button">Recall</button>
<% } %>

<% if (showSave) {%>
  <button class="btn btn-primary" id="btnsave" type="button">Save</button>
<% } %>

<% if (showApplicant) {%>
  <button class="btn btn-primary" id="btnapplicant" type="button">Send to <%= applicantSendTo %></button>
<% } %>

<% if (showApprover) {%>
  <button class="btn btn-primary" id="btnapprover" type="button">Send to <%= approverSendTo %></button>
<% } %>
