<% if (show.back) {%>
  <button class="btn btn-primary" id="btnBack" type="button">Back</button>
<% } %>

<% if (show.recall) {%>
  <button class="btn btn-primary" id="Recall" type="button">Recall</button>
<% } %>

<% if (show.save) {%>
  <button class="btn btn-primary" id="btnsave" type="button">Save</button>
<% } %>

<% if (show.applicant) {%>
  <button class="btn btn-primary" id="btnapplicant" type="button">Send to Applicant</button>
<% } %>

<% if (show.approver) {%>
  <button class="btn btn-primary" id="btnapprover" type="button">Submit</button>
<% } %>
