<% if (showBack) {%>
  <button class="btn btn-primary btn-lg" id="btnBack" type="button">Back</button>
<% } %>

<% if (showSave) {%>
  <button class="btn btn-primary btn-lg" id="btnsave" type="button">Save</button>
<% } %>

<% if (showSendToApplicant) {%>
  <button class="btn btn-primary btn-lg" id="btnapplicant" type="button">Send to <%= applicantSendTo %></button>
<% } %>

<% if (showSendToApprover) {%>
  <button class="btn btn-primary btn-lg" id="btnapprover" type="button">Send to <%= approverSendTo %></button>
<% } %>

<% if (showDelete) {%>
  <button class="btn btn-primary btn-lg" id="btndelete" type="button">Delete</button>
<% } %>

<%
_.each(workflowButtons, function(wfButton){
%>
  <button class="btn btn-primary btn-lg workflow-btn" workflowAction="<%= wfButton.Action %>" type="button"><%= wfButton.ButtonName %></button>
<%
});
%>
