<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingOne">
    <div class="panel-title subheader-menu-container">
      <!-- Single button -->
    </div>
  </div>


  <div id="checkStatus">
    <div class="panel-body">

      <form class="form-horizontal">
        <% if (canChooseStatus) { %>
          <div class="form-group row">
            <label for="status" class="col-sm-2 control-label">Status</label>
            <div class="col-sm-6 status-container">
              <!-- status Select list here -->
            </div>
          </div>
        <% } %>

        <div class="form-group">
          <label for="ref_id" class="col-xs-12 col-sm-2 control-label">Ref. ID</label>
          <div class="col-xs-12 col-sm-6">
            <input type="text" id="txtindexrefid" name="ReferID" class="search-field form-control" placeholder="" value="<%= ReferID %>">
          </div>
        </div>
        <div class="form-group">
          <label for="create_date" class="col-xs-12 col-sm-2 control-label">Create Date</label>
          <div class="create_date_pick1 col-xs-6 col-sm-3">
            <div class="input-group date pick-date-start" data-provide="datepicker">
              <input type="text" id="txtIndexfromdate" name="FDate" class="search-field form-control" value="<%= FDate %>">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
              </div>
            </div>
          </div>
          <div class="create_date_pick2 col-xs-6 col-sm-3">
            <div class="input-group date pick-date-end" data-provide="datepicker" data-date-autoclose="true">
              <input type="text" id="txtIndextodate" name="TDate" class="search-field form-control" value="<%= TDate %>">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="status" class="col-sm-2 control-label"><%= searchUserType %></label>
          <div class="col-sm-6 user-container">

          </div>
        </div>

        <div class="form-group buttons-container">
          <div class="text-center available-buttons">
            <input type="button" class="btn btn-primary" value="Search" id="btnSearchCheckStatus">
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
<div class="table-responsive">
  <table id="statusTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Last Action Date</th>
        <th>Applicatant</th>
        <th>Ref. ID / Summary</th>
        <th>Status</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Last Action Date</th>
        <th>Applicatant</th>
        <th>Ref. ID / Summary</th>
        <th>Status</th>
      </tr>
    </tfoot>
    <!-- <tbody id="reqbody"></tbody> -->

  </table>
</div>
