
<div class="modal-dialog modal-md" role="document">
  <div class="modal-content">
    <div class="modal-header confirm-header">
      <h4 class="modal-title">
        <%= title %>
      </h4>
    </div>
    <div class="modal-body">
      <div>
        <%= message %>
      </div>
      <div class='modal-actions'>
        <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
        <button type="button" class="btn btn-default confirm-btn">Confirm</button>
      </div>
    </div>
  </div>
</div>
