<input
  type="text"
  id="txtIndextodate"
  class="form-control date"
  value="<%= value %>"
  placeholder="<%= placeholder %>"
  field="<%= field %>"
>
<div class="input-group-addon datepicker-toggle-btn">
  <span class="glyphicon glyphicon-calendar"></span>
</div>
