<div class="panel panel-default">
  <div class="panel-heading headingOne" role="tab">
    <h3 class="panel-title subheader-menu-container">
      <!-- Single button -->
      <div class="btn-group check-status">
        <button type="button" class="btn btn-default dropdown-toggle btn-block btn_sub_title " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <h3 style="display:inline; ">Delegation</h3>
          <span class="glyphicon glyphicon-menu-down"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a id="ancnewdelegation">New Delegation</a>
          </li>

        </ul>
      </div>
    </h3>
  </div>
  <div id="checkStatus">
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="status" class="col-sm-2 control-label">Type</label>
          <div class="col-xs-12 col-sm-6">
            <select class="form-control type-select" name='Type'>
              <option value="null" <% if (!Type) { %>selected<% } %>>--Select--</option>
              <option value="Delegation" <% if (Type==='Delegation') { %>selected<% } %>>Delegation</option>
              <!-- <option value="Forwarding">Forwarding</option> -->
              <option value="Sharing" <% if (Type==='Sharing') { %>selected<% } %>>Sharing</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="status" class="col-sm-2 control-label">Process</label>
          <div class="col-xs-12 col-sm-6 process-container">
            <!-- process select option -->
          </div>
        </div>
        <div class="form-group">
          <label for="status" class="col-sm-2 control-label">Step</label>
          <div class="col-xs-12 col-sm-6 step-container">
            <!-- step select option -->
          </div>
        </div>
        <div class="form-group buttons-container">
          <div class="text-center available-buttons">
            <input type="button" class="btn btn-primary" value="Search" id="btnSearchDelegation">
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
<div class="table-responsive">
  <table id="delegationTable" class="table table-striped table-bordered table-grey" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Process</th>
        <th>Step</th>
        <th>Type</th>
        <th>Enabled</th>
        <th>From User</th>
        <th>To User</th>
        <th>Operation</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Process</th>
        <th>Step</th>
        <th>Type</th>
        <th>Enabled</th>
        <th>From User</th>
        <th>To User</th>
        <th>Operation</th>
      </tr>
    </tfoot>
    <tbody id="Delegationbody"></tbody>

  </table>
</div>
