<div class="modal-dialog modal-md" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="myModalLabel">
        Delegation
      </h4>
    </div>
    <div class="modal-body">
      <div id="divnewdelegation">
        <div class="form-group row">
          <div class="col-md-12">
             <div class="col-md-3 text-lg">
              <label for="process" class="control-label">Type</label>
            </div>
            <div class="input_radio">
              <label>
                <input
                  type="radio"
                  class='typeRadio'
                  name="Type"
                  value="Delegation"
                  <% if (Type === 'Delegation') { %>checked<% } %>
                />
                Delegation
              </label>
            </div>
            <!-- <div class="col-md-3" style="padding-left: 0px; padding-right: 0px;">
              <input type="radio" name="type" value="Forwarding">
              Forwarding
            </div> -->
            <div class="input_radio">
              <label>
                <input
                  type="radio"
                  class='typeRadio'
                  name="Type"
                  value="Sharing"
                  <% if (Type === 'Sharing') { %>checked<% } %>

                />
                Sharing
              </label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <div class="col-md-3 text-lg">
              <label for="process" class="control-label">Process</label>
            </div>
            <div class="col-md-9 process-container">
            </div>
          </div>

        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <div class="col-md-3 text-lg">
              <label for="Step" class="control-label">Step</label>
            </div>
            <div class="col-md-9 step-container">
            </div>
          </div>

        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <div class="col-md-3 text-lg">
              <label for="fromuser" class="control-label">From User</label>
            </div>
            <div class="col-md-9 fromUser-container">
              <!-- <select id="divfromuser" class="form-control divfromuser"></select> -->

            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-12 ">
            <div class="col-md-3 text-lg">
              <label for="touser" class="control-label">To User</label>
            </div>
            <div class="col-md-9 toUser-container">
              <!-- <select id="divtouser" class="form-control divtouser"></select> -->

            </div>
          </div>

        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <div class="col-md-3 text-lg">
              <label for="status" class="control-label">Enabled</label>
            </div>
            <div class="input_checkbox">
              <input
                style="float:left;"
                class="enabled"
                type="checkbox"
                name="Enabled"
                id="enabled"
                value="1"
                <% if (String(Enabled) === '1') { %>
                  checked
                <% } %>
              />
            </div>
          </div>

        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <div class="col-md-3 text-lg">
              <label for="remark" class="control-label">Remark</label>
            </div>
            
            <div class="col-md-9">
              <input
                type="text"
                name="Remark"
                id="txtremark"
                class="form-control txtremark"
                value="<% if (Remark) { %><%= Remark %><% } %>"
              />
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary btn-save">Save</button>
      <button type="button" class="btn btn-primary btn-cancel" data-dismiss="modal">Cancel</button>
    </div>
  </div>
</div>


