<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingOne">
    <div class="panel-title subheader-menu-container">
      <!-- Single button -->
    </div>

  </div>
  <div id="checkStatus">
    <div class="panel-body">

      <form class="form-horizontal">

        <div class="form-group">
          <label for="ref_id" class="col-sm-2 control-label">Ref. ID</label>
          <div class="col-sm-10">
            <input type="text" id="txtrefid" class="form-control" placeholder="">
          </div>
        </div>
        <div class="form-group">
          <label for="create_date" class="col-xs-12 col-sm-2 control-label">Create Date</label>
          <div class="col-xs-6 col-sm-5">
            <div class="input-group date pick-date-start" data-provide="datepicker" data-date-autoclose="true">
              <input type="text" id="txtfromdate" class="form-control">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-5">
            <div class="input-group date pick-date-end" data-provide="datepicker" data-date-autoclose="true">
              <input type="text" id="txttodate" class="form-control">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="status" class="col-sm-2 control-label">Applicant</label>
          <div class="col-sm-10">
            <select id="divApplicant" class="form-control"></select>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-1">
            <input type="button" class="btn btn-primary" value="Search" id="btnSearchDraft">

          </div>
        </div>
      </form>

    </div>
  </div>
</div>
<div class="table-responsive">
  <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Last Action Date</th>
        <th>Applicatant</th>
        <th>Ref. ID / Summary</th>
        <th style="width:20px;">Opertion</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Last Action Date</th>
        <th>Applicatant</th>
        <th>Ref. ID / Summary</th>
        <th>Opertion</th>
      </tr>
    </tfoot>
    <tbody id="Draftbody"></tbody>

  </table>
</div>
