<div id="header_top">
  <div class="header-top-group">
    <span class="logo-hktdc"></span>
    <a href="">Intranet Home</a>
    <span class="sep-vertical"></span>
    <a href="">Workflow System</a>
  </div>
</div>

<div id="header_main">
  <a class="nav-icon" href='#menu'></a>
  <span class="logo-hktdc"></span>
  <span class="sep-space"></span>

  <div class="btn-group nav-header-main process-switch">
    <button type="button" class="btn btn-default dropdown-toggle btnnavheader" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	  <span class="btn_txt"> Hardware, Software and IT Services Requisition </span>
      <span class="glyphicon glyphicon-menu-down"></span>
    </button>
  </div>

  <div class="nav-header-subheader subheader-menu-container"></div>

  <div class="btn-group nav-header-user hidden-xs hidden-sm">
    <div id="user-profile-menu"></div>
  </div>



</div>
