<% if (!readonly) { %>
  <span
    eid="<%= selectedUserId %>"
    style="text-decoration:none; margin-right:5px; margin-bottom:5px;"
    class="btn btn-default spncc"
  >
    <span class="glyphicon glyphicon-remove spanremovecc"></span>
    <%= selectedUserName %>
  </span>
<% } else { %>
  <span><%= selectedUserName %></span>
  <span>;</span>
<% } %>
