
<div class="panel panel-default select-service-header">
  <div class="panel-body group-header">
    <div class="row">
      <div class="col-xs-10 col-md-10">
        <table style='border:none;'>
          <tr>
            <td><input class="toplevelCheckBox" type="checkbox" style="margin-top:0" /></td>
            <td>
              <div class="checkbox-option reset-line-h" id="divHSITservice">
                <span>
                  <%= serviceCatagory.Name %>
                </span>

                <span class="selectedServiceCount">
                  (<%= serviceCatagory.selectedServiceCount %>)
                </span>

              </div>
            </td>
          </tr>
        </table>

        I just created a alias: 'lock' to /call/request and the dev api is pointing to this alias.
        Then please help on deploy the lambda to dev. so the
      </div>
      <div class="col-xs-2 col-sm-2 checkbox-option-drop">
        <span class="glyphicon glyphicon-menu-down toggleBtn"></span>
      </div>
    </div>
  </div>

  <div class="group-details service-type-container">
    <!-- level 2 contents here -->
    <!-- service type Content -->
  </div>
</div>
