<div class="panel panel-default select-service-header">
  <div class="panel-body group-header">
    <div class="row">
      <div class="col-xs-10 col-md-10">
        <div class="checkbox-option reset-line-h" id="divHSITservice">
          <span>
            <%= serviceCatagory.Name %>
          </span>

          <span class="selectedServiceCount">
            (<%= serviceCatagory.selectedServiceCount %>)
          </span>

        </div>
      </div>
    </div>
  </div>

  <div class="group-details service-type-container">
    <!-- level 2 contents here -->
    <!-- service type Content -->
  </div>
</div>
