<%
var leve2nosub=0;
_.each(data, function(items, index) {
%>

  <div class="panel panel-default select-service">
    <div class="panel-body">
      <div class="row">
        <div id="<%=items.GUID%>" class="col-xs-12 col-md-12 select-service-title">
          <%=items.Name%>
        </div>
      </div>

      <div class="level3">
        <!-- level 3 contents here -->
      </div>

    </div>
  </div>
<%
});
%>
