<div class="panel panel-default select-service">
  <div class="panel-body select-service-body">
    <div class="row ">
      <div id="<%= serviceType.GUID%>" class="col-xs-12 col-md-12 select-service-title font-bold">
        <%= serviceType.Name%>
      </div>
    </div>

    <div class="service-request-container">
      <!-- level 3 contents here -->
    </div>

    <!-- Add Button: click to add a row to level 3 -->
	<!-- <div class="error-message hidden">Please fill up all fields inside</div> -->
	<div class="error-message hidden"></div>
    <div class="row">
     <div class="sep-space"></div>
      <div class="col-xs-4 col-md-3 btn-group">
        <button type="button" class="btn btn-orange btn-add" style="
        <% if (serviceType.needAddBtn) { %>
          display:block
        <% } else { %>
          display:none
        <% } %>
        ">
          <span class="glyphicon glyphicon-plus"></span>
          &nbsp;add
        </button>
      </div>
    </div>
  </div>
</div>
