<div class="panel panel-default select-service">
  <div class="select-service-body"  >
    <div id="<%= serviceType.GUID%>" class="select-service-title font-bold block-padding">
      <%= serviceType.Name%>
    </div>

    <div class="service-request-container">
      <!-- level 3 contents here -->
    </div>
  </div>
</div>
