<div class="panel panel-default select-service-header">
  <div class="panel-body group-header">
    <div class="row">
      <div class="col-xs-1 col-md-1">

        <input id="toplevel" class="toplevel" type="checkbox"></input>
      </div>
      <div class="col-xs-9 col-md-9 checkbox-option" id="divHSITservice">
        <%= service.Name %>
      </div>
      <div class="col-xs-2 col-sm-2 checkbox-option-drop">
        <span class="glyphicon glyphicon-menu-down toggleBtn"></span>
      </div>
    </div>
  </div>

    <!-- Application Content -->
  <div class="group-details" style="display: none; padding: 15px;">
    <!-- level 2 contents here -->
  </div>
</div>
