<div class="panel panel-default select-service-header">
  <div class="panel-body group-header">
    <div class="row">
      <div class="col-xs-12 col-md-12 p0m0">
        <div class="service-category-header block-padding reset-line-h">
          <span>
            <%= serviceCatagory.Name %>
          </span>

          <span class="selected-service-count">
            (<%= serviceCatagory['selectedServiceCount'] %>)
          </span>

        </div>
      </div>
    </div>
  </div>

  <div class="group-details service-type-container">
    <!-- level 2 contents here -->
    <!-- service type Content -->
  </div>
</div>
