
<div class="panel panel-default select-service-header">
  <div class="panel-body group-header">
    <table style='border:none; width:100%'>
      <tr>
        <td><input class="toplevelCheckBox" type="checkbox" style="margin-top:0" /></td>
        <td style='line-height:1em'>
          <div class="checkbox-option reset-line-h">
            <div class='service-category-name'>
              <%= serviceCatagory.Name %>
            </div>

            <div class="service-category-name selected-service-count">
              (<%= serviceCatagory.selectedServiceCount %>)
            </div>

          </div>
        </td>
        <td>
          <div class="checkbox-option-drop">
            <span class="glyphicon glyphicon-menu-down toggleBtn"></span>
          </div>
        </td>
      </tr>
    </table>

  </div>

  <div class="group-details service-type-container">
    <!-- level 2 contents here -->
    <!-- service type Content -->
  </div>
</div>
