<div id="header_top">
  <div class="header-top-group">
    <span class="logo-hktdc"></span>
    <a href="">Intranet Home</a>
    <span class="sep-vertical"></span>
    <a href="">Workflow System</a>
  </div>
</div>

<div id="header_main">
  <a class="nav-icon"></a>
  <span class="logo-hktdc"></span>
  <span class="sep-space"></span>
  <div class="btn-group nav-header-main">
    <button type="button" class="btn btn-default dropdown-toggle btnnavheader" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-menu-down"></span>
    </button>
    <ul class="dropdown-menu ulnav-header-main"></ul>
  </div>
  <div class="btn-group nav-header-user">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="userMenu">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      <span id="spnUsername" class="nav-header-user-text"></span>
      <span class="glyphicon glyphicon-menu-down"></span>
    </button>
    <ul class="dropdown-menu userMenu">
      <li>
        <a href="#">
          <span class="glyphicon icon-group"></span>
          Delegation
        </a>
      </li>
      <li>
        <a href="#">
          <span class="glyphicon glyphicon-share-alt"></span>
          Share
        </a>
      </li>
      <li>
        <a href="#">
          <span class="glyphicon glyphicon-log-out"></span>
          Logout
        </a>
      </li>
    </ul>
  </div>
</div>
