<div class="row">
  <div class="panel panel-default workflowmain select-service-header" style="margin-left:17px;margin-right:17px;margin-top:10px;">
    <div class="panel-body group-header">
      <div class="row">

        <div class="col-xs-10 col-md-10 checkbox-option" style="margin-left:0">Workflow Log</div>
        <div class="col-xs-2 col-sm-2 checkbox-option-drop">
          <span id="ancworkflowlog" arrow="glyphicon-menu-down" class="glyphicon glyphicon-menu-down"></span>
        </div>
      </div>
    </div>

    <div class="group-details headdivworkflowlog" style="padding: 15px; display:none; overflow: scroll;">
      <div class="panel panel-default">
        <div class="panel-body">

          <div >
            <div class="wflog">
              <table class="workflowlogTable table table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr>
                      <th>Action Taken By</th>
                      <th>Action</th>
                      <th>Comment</th>
                      <th>Action Date</th>
                    </tr>
                </thead>
                <tbody>
                  <!-- workflow list item here -->
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
