.red {
  color: red;
}
.data-table-loader {
  background: url('../images/ajax-loader.gif') no-repeat;
  width: 18px;
  height: 18px;
  margin: 0 auto;
}

.glyphicon-refresh-animate {
  -webkit-animation-name: rotateThis;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.filename-container {
  position: relative;
}

.filedownload {
  cursor: pointer;
  color: blue;
  display: inline-block;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.filename-container .deletefile{
	margin-left:10px;
	margin-top: 13px;
	cursor:pointer;
	position:absolute;
	left:0;
}


@-webkit-keyframes "rotateThis" {
  from {
    -webkit-transform: rotate( 0deg );
  }

  to {
    -webkit-transform: rotate( 360deg );
  }
}

.sep-space {
  height: 15px;
}

.sep-space-sm {
  height: 8px;
  clear: both;
}

.sep-space-db-border {
  height: 4px;
  clear: both;
  border-top: 1px #ddd solid;
  border-bottom: 1px #ddd solid;
}

.btn-orange {
  color: white;
  background-color: #f57921;
  border-color: #f57921;
}

.panel-title {
  line-height: 40px;
}

.panel-active {
  box-shadow: 0 0 10px #f57921;
}

.panel-highlight {
  background: #fffeb3;
}

.datepicker-toggle-btn {
  cursor: pointer;
}
