.sep-space {
  height: 15px;
}

.sep-space-sm {
  height: 8px;
  clear:both;
}


.btn-orange {
  color: white;
  background-color: #f57921;
  border-color: #f57921;
}

.panel-title {
  line-height: 40px;
}

.panel-active {
  box-shadow: 0 0 10px #f57921;
}

.panel-highlight {
  background: #FFFDB7;
}

.datepicker-toggle-btn{
  cursor: pointer;
}
