/* MMenu */
.mm-menu {
  background: none;
  border-right: 1px rgba(0,0,0,.1) solid;
  text-transform: uppercase;
//   z-index: 0;
}

.mm-listview .mm-next:before,
.mm-listview > li:not(.mm-divider):after,
.mm-menu .mm-listview,
div.mm-vertical > .mm-listview > li > div.mm-vertical > .mm-listview > li {
  border: 0;
}

.mm-listview > li:not(.mm-divider):after {
  left: 0;
}

.mm-listview > li.mm-vertical > .mm-next,
.mm-vertical .mm-listview > li > .mm-next {
  width: 40px;
}

.mm-menu .mm-listview > li a {
  text-decoration: none;
}

.mm-menu .mm-listview > li:not(.mm-opened):hover {
  color: rgb(245,121,33);
}

.mm-listview > li {
  border-bottom: 1px rgba(0,0,0,.1) solid;
}

.mm-menu .mm-listview > li.mm-opened.mm-vertical > a.mm-next,
div.mm-panel.mm-vertical {
  background: inherit !important;
  border-left: 0;
}

.mm-listview .mm-vertical .mm-panel,
.mm-vertical .mm-listview .mm-panel {
  padding: 0;
}

.mm-opened > div.mm-vertical > .mm-listview > li {
  text-transform: capitalize;
}

.mm-opened > div.mm-vertical > .mm-listview > li:hover {
  color: inherit;
}

.mm-current > .mm-listview > .mm-opened > a:not(.mm-next) {
  border-left: 5px rgb(245,121,33) solid;
  border-bottom: 1px rgba(0,0,0,.1) solid;
  width: 100%;
}

.mm-selected > a:not(.mm-next) {
  border-left: 5px rgb(245,121,33) solid;
}

li.menu-index {
  line-height: 40px;
  padding: 0 20px;
}

li span.menu-index-value {
  padding: 0 10px !important;
  position: absolute;
  width: 40px;
  right: 50px;
  top: 10px;
  height: 20px;
  line-height: 20px;
  color: #999;
  background: #eaeaea;
  border-radius: 10px;
  text-align: center;
}

li span.menu-index-value.outline {
  color: #006bf0;
  background: #FFFFFF;
  border-radius: 10px;
  border: 1px #006bf0 solid;
}

li.menu-section {
  background: #eaeaea;
  font-size: 12px;
  // font-weight: bold;
}

li.menu-section > span {
  line-height: 35px;
  height: 35px;
  padding: 0 10px;
  text-transform: initial;
}

.mm-menu .mm-listview > li.mm-menu-section:hover,
li.menu-section > span:hover {
  color: rgb(88,88,88);
}

.mm-listview.mm-vertical span.glyphicon.glyphicon-menu-right {
  position: absolute;
  font-size: 11px;
  color: #b3b3b3;
  font-weight: 600;
  right: 20px;
  top: 15px;
}
